{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-1"></div>

<div class="col-md-10">
<div class="col-md-5">
  
    <img class="img-responsive" src="/pics/kw1nibI.jpg" alt="...">
  
</div>
  <div class="col-md-7">
    <h4 class="media-heading">About</h4>
    <pre class="pre-formate">
    
Love transcend all boundaries and blossoms in it's full glory when nurtured with positive intention and right amount of care.

The sole purpose of life is to live and, love makes it worth living.

So stop war and spread love.

Valentine search is a website made exclusively for fun. So if in anyway, anyone felt hurt it was not intensional. 

Website is undergoing change, and new features are being added, so keep visiting to witness some more funny things in near future. 

No names entered in search box are saved and your login credentials are also not been tracked, so feel free to use as much as you want.

  
Love
Chanchal Prakasham

</pre>
  </div>
</div>

<div class="col-md-1"></div>

{% endblock %}
