<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
<title>Valentine Search</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>


<style type="text/css">

.pre-formate {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
display: block;
padding: 5px;
margin: 0 0 10px;
font-size: 14px;
line-height: 1.428571429;
color: #333333;
word-break: normal;
word-wrap: normal;
background-color: #ffffff;
border: 1px solid #ffffff;
border-radius: 4px;
}
</style>

<meta name="description" content="All the single people who are wondering who is their soul-mate make a stop here to search for your valentine today.">
    <meta property="og:description" content="All the single people who are wondering who is their soul-mate make a stop here to search for your valentine today." />



</head>
  
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><b class="glyphicon glyphicon-heart " style="color:red"></b><span style="color:red"><b class="glyphicon glyphicon-heart " style="color:red"></b><span style="color:red"></span></a>
  </div>
  

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
      <li><a href="{{ url|safe }}">  </a></li>
      
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
  
  
  
  
  
  
  
  <body style="padding-top: 70px;">
  
  <div>
  
    <div row"> 
  <div class="col-md-3">
  <div class="col-md-12"><img src="/pics/love.gif" class="img-responsive" alt="Responsive image"></div>
   
  </div>
 
  <div class="col-md-7 row">
  
  <div class="col-md-12"><h2 class="text-center"><b class="glyphicon glyphicon-search" style="color:red"></b> <span style="color:red">Search Your Valentine</span></h2></div>
  <div class="col-md-12">
  
  
  </div>
  
  

  
  <div class="col-md-12">
  
    <div class="input-group">
      <input type="text" id="name" placeholder="Write Your Name" value={{user}} class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" id="search" type="button"><b class="glyphicon glyphicon-search"></b></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-->
  
</br></br>

<div class="col-md-12">
<div class="alert alert-block" id="alert">
  <strong><div style="color:red" id="message"> </div></strong>
</div>
</div>

<div class="col-md-12" style="padding-top: 10px; display:none" id="photoalert"><img src="/pics/kw1nibI.jpg" class="img-responsive" alt="Responsive image"></div>

<div id="video" style="display:none">

<iframe width="800" height="600" src="//www.youtube.com/embed/XF94y2kDmuo" frameborder="0" allowfullscreen></iframe>
</div>




</div>


<div class="col-md-2" style="padding-top: 10px;"><img src="/pics/Love_heart_uidaodjsdsew.gif" class="img-responsive" alt="Responsive image"></div>




</div>
  
  
  
</br></br>
</div>
  





  
  <div class=" col-sm-8 ">
  
  
    {% for greeting in greetings %}
      {% if greeting.author %}
      <p class=text-muted>
        <b>{{ greeting.author.nickname() }}</b> wrote on<small title="{{greeting.date.strftime('%d, %b, %Y %I:%M %p')}}"> {{ greeting.date.strftime("%d, %b, %Y") }} </small>:
      {% else %}
       An anonymous person wrote on <small title="{{greeting.date.strftime('%d, %b, %Y %I:%M %p')}}"> {{ greeting.date.strftime("%d, %b, %Y") }} </small>
      {% endif %}
      </p>
      <div class="lead text-center text-primary">{{greeting.heading}}</div>
      <blockquote><pre class="pre-formate" >{{ greeting.content }}</pre></blockquote>
      
    {% endfor %}

 </div> 
 

  




<footer class="bs-footer col-sm-12" style="padding-top:100px" role="contentinfo">
      <div>
        &copy; Valentine 2014
      </div>
      </br>
      </br>
    </footer>

 
   
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.js"></script>

<script>

$('#search').click(function() {
  var name=document.getElementById("name").value;
  if (name == "" || name=="None")
  {
  	alert("Please Enter Your Name");
  }else
  {
  	var displayMessage = "<span> Dear "+name+", I couldn't find anyone, but don't worry</span><span> <strong> I Love You !!! </strong></span>"
  
  	$('#message').html(displayMessage);
   $('#photoalert').show();
  }
  
});

$( document ).ready(function() {
	
  	if (document.getElementById("name").value == "None")
	{
	document.getElementById("name").value="";
	}

});



$('#alert').show();
</script>


  </body>
</html>
{% endautoescape %}
